// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

table {
    margin-top: 15vh;
    a {
        text-decoration: none;
        color: white;
    }
}

.navbar a {
    text-decoration: none;
    margin-left: 2vw;
    margin-right: 2vw;
}
